<h2>input-decorator works!</h2>
<div>
  <table>
    <tr>
      <th>html</th>
      <th>result html</th>
    </tr>
    <tr>
      <td ngNonBindable>{{ testData1.name }}</td>
      <td>{{ testData1.name }}</td>
    </tr>
    <tr>
      <td ngNonBindable>{{ testData2.name }}</td>
      <td>{{ testData2.name }}</td>
    </tr>
    <tr>
      <td ngNonBindable>{{ testData3.name }}</td>
      <td>{{ testData3.name }}</td>
    </tr>
  </table>
</div>
<p>
  <child-input-decorator
    [title]="testData1"
    [hasTitle]="true"
  ></child-input-decorator>
  <child-input-decorator [hasTitle]="false"></child-input-decorator>
</p>
