<ul class="navigation">
  <li>
    <button
      type="button"
      class="navigation-list"
      routerLink="elements-model-view"
      routerLinkActive="active"
    >
      <span>
        {{ "navigation.elementsModelView" | translate }}
      </span>
    </button>
  </li>
  <li>
    <button
      type="button"
      class="navigation-list"
      routerLink="event"
      routerLinkActive="active"
    >
      <span>event</span>
    </button>
  </li>

  <li>
    <button
      type="button"
      class="navigation-list"
      routerLink="input-decorator"
      routerLinkActive="active"
    >
      <span>input decorator</span>
    </button>
  </li>
  <li>
    <button
      type="button"
      class="navigation-list"
      routerLink="output-parent"
      routerLinkActive="active"
    >
      <span>output parent</span>
    </button>
  </li>
  <li>
    <button
      type="button"
      class="navigation-list"
      routerLink="for-parent"
      routerLinkActive="active"
    >
      <span>for</span>
    </button>
  </li>
  <li>
    <button
      type="button"
      class="navigation-list"
      routerLink="if-element"
      routerLinkActive="active"
    >
      <span>if</span>
    </button>
  </li>
  <li>
    <button
      type="button"
      class="navigation-list"
      routerLink="ng-class"
      routerLinkActive="active"
    >
      <span>ng-class</span>
    </button>
  </li>
  <li>
    <button
      type="button"
      class="navigation-list"
      routerLink="ng-style"
      routerLinkActive="active"
    >
      <span>ng-style</span>
    </button>
  </li>
  <li>
    <button
      type="button"
      class="navigation-list"
      routerLink="switch"
      routerLinkActive="active"
    >
      <span>switch</span>
    </button>
  </li>
  <li>
    <button
      type="button"
      class="navigation-list"
      routerLink="pipes"
      routerLinkActive="active"
    >
      <span>pipes</span>
    </button>
  </li>
  <li>
    <button
      type="button"
      class="navigation-list"
      routerLink="client"
      routerLinkActive="active"
    >
      <span>http client</span>
    </button>
  </li>
  <li>
    <button
      type="button"
      class="navigation-list"
      routerLink="custom-service"
      routerLinkActive="active"
    >
      <span>custom service component</span>
    </button>
  </li>
  <li>
    <button
      type="button"
      class="navigation-list"
      routerLink="template-directive-forms"
      routerLinkActive="active"
    >
      <span>template directive forms</span>
    </button>
  </li>
  <li>
    <button
      type="button"
      class="navigation-list"
      routerLink="reactive-forms"
      routerLinkActive="active"
    >
      <span>reactive forms</span>
    </button>
  </li>
  <li>
    <button
      type="button"
      class="navigation-list"
      routerLink="route-parameters"
      routerLinkActive="active"
    >
      <span>route-parameters</span>
    </button>
  </li>

  <li>
    <button
      type="button"
      class="navigation-list"
      routerLink="ngrx"
      routerLinkActive="active"
    >
      <span>ng-rx-main</span>
    </button>
  </li>
</ul>
